:root {
    --primary-color: #1d1769;
    --secondary-color: #3c4ca6;
    --text-color: #0f0259;
    --background-color: #d5d5f2;
    --button-hover: #170140;
    --font-body: "Chocolate Classical Sans", serif;
    --font-titulo: "Rakkas", serif;
}
<head>
  <style>
    body {
      --background-color: #d5d5f2;
 --font-body: "Chocolate Classical Sans", serif;
    }
    .header {
      height: 300px;
      background-image:
      background-position: center;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .header h1 {
      color: rgb(22, 23, 99);
      font-size: 48px;
    }
    .content {
      margin: 20px;
      font-size: 18px;
    }
    .footer {
      height: 200px;
      background-image: url(https://static.wikia.nocookie.net/qsmp/images/7/7b/Starbobby_Night_2.png/revision/latest/scale-to-width-down/250?cb=20230715030638);
      background-size: cover;
      background-position: center;
    }
  </style>